//SERVICES CSS STYLES
.section {
  padding: 4.5rem 0 1rem;
}

.section__title, .section__title-center {
  font-size: 1.5rem;
  color: hsl(45, 4%, 15%);
  text-align: center;
  margin-bottom: 1rem;
}

.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.services__container {
  padding-top: 1rem;
}

.services__data {
  display: grid;
  row-gap: 1rem;
  background-color: #fff;
  box-shadow: 0px 2px 6px hsla(45, 100%, 15%, 0.15);
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  text-align: center;
}

.services__description{
  font-size: 1rem;
}

.services__subtitle{
  font-size: 1.2rem;
}

.services__img {
  width: 135px;
  justify-self: center;
  margin-bottom: 0.5rem;
}

.app__container {
  gap: 2.5rem;
}

.app__data {
  text-align: center;
}

.app__description {
  margin-bottom: 1.2rem;
  font-size: 1rem;
}

.app__buttons {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  gap: .5rem;
}

//MEDIA QUERIES
@media screen and (max-width: 360px) {
  .section {
    padding: 3.5rem 0 1rem;
  }
  .services__img {
    width: 100px;
  }
  .app__buttons {
    grid-template-columns: max-content;
  }
}

@media screen and (min-width: 576px) {
  .section__title-center {
    text-align: initial;
  }
  .services__container,
  .app__container{
    grid-template-columns: repeat(2, 1fr);
  }
  .app__container{
    align-items: center;
  }
  .app__data{
    text-align: initial;
  }
  .app__img{
    order: -1;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .app__buttons {
    justify-content: initial;
  }
}

@media screen and (min-width: 968px) {
  .app__container{
    column-gap: 6rem;
  }
  .services__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
